<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list" class="menu-top">
                    <img src="/assets/icon/favicon.png" class="custom-avatar">
                    <ion-list-header class="appname-custom-avatar">E-Commerce</ion-list-header>
                </ion-list>
                <ion-list class="ion-parent-list" id="inbox-list">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of defaultPages; let i = index">
                        <ion-item (click)="selectedId = p.id;" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedId === p.id">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
                <ion-menu-toggle auto-hide="false">
                    <ion-list class="ion-parent-list" lines="none">
                        <ion-item [routerLink]="'/'">
                            <ion-icon name="home" slot="start"></ion-icon>
                            Home
                        </ion-item>
                        <ion-item routerLink="todos">
                            <ion-icon name="list" slot="start"></ion-icon>
                            <ion-label>
                                Todos
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="finance">
                            <ion-icon name="cash" slot="start"></ion-icon>
                            <ion-label>
                                Finance
                            </ion-label>
                        </ion-item>
                        <ion-item class="menu-parent" lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
                            <ion-icon name="notifications" slot="start"></ion-icon>
                            <ion-label>
                                Remainder
                            </ion-label>
                            <ion-icon name="{{ isRemainder === 1 ? 'chevron-up' : 'chevron-down' }}" slot="end">
                            </ion-icon>
                        </ion-item>
                        <ion-list class="menu-sub-list" lines="none">
                            <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']" [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
                                <ion-icon name="calendar" slot="start"></ion-icon>
                                Birthdays
                            </ion-item>
                        </ion-list>
                    </ion-list>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <div class="outlet" id="main-content">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                    <ion-title>Home</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-router-outlet></ion-router-outlet>
            </ion-content>
        </div>
    </ion-split-pane>
</ion-app>